# ==========================================
# DỮ LIỆU NẶNG & MODEL (Không commit lên git)
# ==========================================
data/
*.parquet
*.csv
*.pth
*.pt

# ==========================================
# CẤU HÌNH (Chứa API Telegram cá nhân)
# ==========================================
config/
.env

# ==========================================
# MÔI TRƯỜNG ẢO & RÁC HỆ THỐNG
# ==========================================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.ipynb
.ipynb_checkpoints/

# ==========================================
# LOGS & HỆ THỐNG
# ==========================================
*.log
logs/
.DS_Store
Thumbs.db

# ==========================================
# ML / DVC
# ==========================================
mlruns/
dvc.lock